global:
  domain: "{{ argocd_ingress_host }}"

configs:
  params:
    server.insecure: true
  cm:
    resource.customizations.health.networking.k8s.io_Ingress: |
      hs = {}
      hs.status = "Healthy"
      return hs

server:
  service:
    type: ClusterIP
  ingress:
    enabled: true
    ingressClassName: cilium
    hostname: "{{ argocd_ingress_host }}"
    path: /
    pathType: Prefix
    tls: false
    annotations: {}

controller:
  replicas: 1

repoServer:
  replicas: 1

applicationSet:
  replicas: 1
